h1 {
  font-style: italic;
  color: black;
  font-family: "Bebas Neue", sans-serif;
  padding: 0.5px;
}
.contents {
  font-weight: bold;
}

#list {
  text-align: left;
  color: black;
}

.list {
  text-align: left;
  color: black;
}

#about-me {
  color: white;
  background-color: rgb(102, 140, 107);
  padding: 10px;
  margin: 100px;
  display: block;
  margin-top: 20px;
  font-family: "Bebas Neue", Sans-serif;
}
.content {
  background: rgb(230, 230, 230);
  width: 100%;
  overflow-x: hidden;
  overflow-y: scrollbar;
  color: rgb(57, 97, 102);
  border: 3px dashed rgb(77, 96, 122);
}

body {
  line-height: 1.6em;
  text-align: center;
  background-color: rgb(223, 255, 168);
  color: black;
  font-family: "Audiowide", sans-serif;
}

#blog-title {
  background-color: rgb(219, 235, 255);
  position: fixed;
  left: 20px;
  padding-left: 7px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 5px;
}
footer {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
}
